# System
.vscode/
.pytest_cache
__pycache__/
.DS_Store
.zed/

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Deployment Vercel
.vercel/

# For me
_*
*me
*me.*
*tmp*
*tmp.*
*archive

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/
